// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: white;
}

.profile {
    margin: 0 auto;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 1px rgba(0, 0, 0, .1);
    border: solid 1px #e1e1e1;
    width: 90%;
    height: 100%;
}

.profile-img-top{
    width: 100%;
    height: 100%;
}

.profile-block {
    padding: 25px;    
}

.profile-text:first-of-type {
    margin-top: 25px;    
}

.profile-text:last-of-type {
    margin-bottom: 25px;    
}

.card {
    border: solid 1px #e1e1e1;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    box-shadow: 1px 1px rgba(0, 0, 0, .1);
}
.card-header {
    margin-top: 10px;
}
.card-body {
    width: 100%;
}

.card-update {
    border: solid 1px #e1e1e1;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    box-shadow: 1px 1px rgba(0, 0, 0, .1);
}
.card-post {
    border: solid 1px #e1e1e1;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    box-shadow: 1px 1px rgba(0, 0, 0, .1);
}
.row:only-child {
    border-top: 1px solid #eee;
}

.form-body {
    padding-left: 15px;
    padding-right: 15px;
}

textarea.form-control {
    height: 80px;
    -webkit-transition: ease-in-out .2s; /* For Safari 3.1 to 6.0 */
    transition: ease-in-out .2s;
}
textarea.form-control:focus {
    height: 150px;
}
.modify {
    float: right;
    margin-left: 10px;
}
.post-write {
    font-size: 12px;
    line-height: 42px;
    display: block;
    width: 50%;
    height: 42px;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #808080;
    border: 1px solid #808080;
    background: transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}

.post-write:hover {
    background-color: #333;
    color: #ffffff;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    text-align: center;
}

@media ( max-width: 930px ) {
    .profile { 
        margin-left: 55px;
        width: 100%;
    }
}
@media ( max-width: 768px ) {
    .profile { 
        margin: 0 auto;
        width: 80%;
    }
}